{
    "rules": {
        "strict": [1, "safe"],
        "eol-last": 1,
        "no-warning-comments": [1, { "terms": ["todo", "fixme", "fix", "arreglar", "ñapa"], "location": "anywhere"}],
        "quotes": [1, "single", "avoid-escape"],
        "max-len":  [1, {"code": 150, "tabWidth": 4, "ignoreUrls": true}],
        "no-else-return": 1,
        "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
        "no-dupe-keys": 1,
        "no-debugger": 2,
        "no-eval": 2,
        "curly": 2,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "brace-style": [2],
        "no-irregular-whitespace": 2,
        "array-bracket-spacing": [2, "never"],
        "max-params": [2, {"maximum": 4}],
        "block-spacing": [2, "always"],
        "space-before-blocks": 2,
        "no-alert": 2,
        "no-console": 2,
        "no-continue": 2,
        "no-delete-var": 2,
        "use-isnan": 2,
        "comma-dangle": [2, "never"],
        "no-loop-func": 2,
        "no-undef-init": 2,
        "no-array-constructor": 2,
        "no-new-object": 2,
        "no-bitwise": 2,
        "default-case": 2,
        "no-empty-function": 2,
        "no-unused-vars": 2,
        "no-inner-declarations": [2, "both"],
        "no-multi-str": 2,
        "no-empty": 2,
        "no-octal": 2,
        "no-fallthrough": 2,
        "no-constant-condition": 2,
        "no-extra-parens": 2,
        "no-redeclare": 2,
        "no-use-before-define": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-native-reassign": 2,
        "no-labels": 2,
        "no-with": 2,
        "no-new-wrappers": 2,
        "no-cond-assign": 2
    }
}
