# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar

[
    {
      type: "button"
      icon: "gear"
      callback: "settings-view:open"
      tooltip: "Open preferences"
    }
  {
    type: "button"
    icon: "pin"
    callback: "flex-tool-bar:edit-config-file"
    tooltip: "Edit Tool Bar"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "dash"
    callback: "editor:fold-current-row"
    tooltip: "Fold current row"
  }
  {
    type: "button"
    icon: "plus"
    callback: "editor:unfold-current-row"
    tooltip: "Unfold current row"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "telescope"
    callback: "linter:toggle"
    tooltip: "Enable/Disable linter"
  }
  {
    type: "button"
    icon: "ios-arrow-thin-down"
    callback: "linter:next-error"
    tooltip: "Linter next error"
    iconset: "ion"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "git-merge"
    callback: "merge-conflicts:detect"
    tooltip: "Git merge detect"
  }

]
